{% extends "base.html" %}
{% block content %}

<section class="simple-section">
    <h1>Registered Users</h1>

    <table class="admin-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Last Login</th>
        </tr>

        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] or "—" }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{% endblock %}
